*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Kanit', sans-serif;
}

:root{
    --pink: #E53170;
    --link: #5AA6D6
}

.container{
    max-width: 1560px;
    margin: 3% auto;
}

h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--pink);
}

p{
    font-size: 1.5rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 600;
}

a{
    color: var(--link);
    text-decoration: none;
    font-size: 1.3rem;
}

img{
    height: 100%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-job{
    font-size: 1.3rem;
}

.card{
    height: 130px;
    width: 500px;
    margin: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.card-info{
    margin-left: 15px;
}

/* Utils */

.text-center{
    text-align: center;
}

.margin-bot-50{
    margin-bottom: 50px;
}